.app-container {
    background-color: #FBFBFB;
}

.home-container {
    background-color: orange;

    display: flex;
    width:100%;
}

.prepare-container {
    background-color: blue;
}


.page-container {
    margin: 4em;
    &#home {
        text-align: center;
    }
}

#page-1 {
    background-color: orange;
}
