.banner {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.5em;
}
.studbud-logo {
    width: 3em;
    height: 3em;

}
.app-container {
    background-color: #FBFBFB;
}

.home-container {
    background-color: orange;

    display: flex;
    width:100%;
}

.prepare-container {
    background-color: blue;
}


.page-container {
    margin: 4em;
    &#home {
        text-align: center;
    }
}

#page-1 {
    background-color: orange;
}
