.prepare-container {
  margin-top: 1em;
  h1{
    margin-left:3em;
  }
}
#prepare-content {
  background-color: orchid;
  display: flex;
  flex-direction: row;
  padding-left: 5em;
  margin-left: 5.5em;
  }

  #task-creator {
    background-color: orange;
  }

.sub-page-container {
  padding: 1.5em 3em;
}

#taskform {
  background-color: yellow;
  padding: 1em 3em;
    label {
      display: inline-block;
      width:15em;
    }
   input {
    padding: 0.5em 6em;
    width:20em;
    margin: 1em;
    box-sizing: border-box;
    display: inline-block;
   }
   select, button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

   }
}

#covey-quadrant {
  display: flex;
  flex-wrap: wrap;
  padding: 1em 1em;
  background-color: powderblue;
  align-content: stretch;

  .quadrant {
    min-width: 15em;
    min-height: 15em;
    border-radius: 2fr;
    margin: 0.5em 0.5em;
  }

  #quad-1 {
    background-color: cadetblue;
    flex-grow: 1;
  }
  #quad-2 {
    background-color: chartreuse;
    flex-grow: 1;
  }
  #quad-3 {
    background-color: deeppink;
    flex-grow: 1;
  }
  #quad-4 {
    background-color: gold;
    flex-grow: 1;
  }
}

#modalBtn{
  background-color: olivedrab;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
#modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
#close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#close:hover,
#close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}